---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on 
    <a href="{{site.author.googlescholar}}">
      my Google Scholar profile
    </a>.
  </div>
{% endif %}

{% include base_path %}

{% assign myname = "Yipeng Liu" %}

{% if site.publication_category %}

  {% for category in site.publication_category %}
    
    <h2>{{ category[1].title }}</h2>
    <hr>

    {% for post in site.publications reversed %}
      {% if post.category == category[0] %}

        {% assign authors = post.authors | replace: myname, "<strong>" | append: myname | append: "</strong>" %}

        <p style="margin-bottom: 1.2em;">
          {{ authors }} ({{ post.date | date: "%Y" }}).
          <a href="{{ post.url }}" style="color:#1EAEDB;">
            <em>{{ post.title }}</em>
          </a>.
          <br>
          {{ post.venue }}.
        </p>

      {% endif %}
    {% endfor %}

  {% endfor %}

{% else %}

  <h2>Publications</h2>
  <hr>

  {% for post in site.publications reversed %}

    {% assign authors = post.authors | replace: myname, "<strong>" | append: myname | append: "</strong>" %}

    <p style="margin-bottom: 1.2em;">
      {{ authors }} ({{ post.date | date: "%Y" }}).
      <a href="{{ post.url }}" style="color:#1EAEDB;">
        <em>{{ post.title }}</em>
      </a>.
      <br>
      {{ post.venue }}.
    </p>

  {% endfor %}

{% endif %}
