---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on 
    <a href="{{site.author.googlescholar}}">
      my Google Scholar profile
    </a>.
  </div>
{% endif %}

{% include base_path %}

<h2>Journal Articles</h2>
<hr>

{% for post in site.publications reversed %}
  {% if post.category == "manuscript" %}

    <p style="margin-bottom: 1.2em;">
      {{ post.authors }} ({{ post.date | date: "%Y" }}).
      <a href="{{ post.paperurl }}" style="color:#1EAEDB;" target="_blank">
        <em>{{ post.title }}</em>
      </a>.
      <br>
      {{ post.venue }}.
    </p>

  {% endif %}
{% endfor %}
